<footer class="footer has-footer-bottom">
    <div class="content has-text-centered">
        <p>
            <strong>GT Kram</strong> &copy; @DateTime.UtcNow.ToString("yyyy") v<span>@appSettings.Value.Version</span> | <a href="/Imprint">Impressum</a> | <a href="/Privacy">Datenschutz</a>
        </p>
    </div>
</footer>