<footer class="footer has-footer-bottom">
    <div class="content has-text-centered">
        <p>
            &copy; @DateTime.UtcNow.ToString("yyyy") <strong>GT Kram</strong> | <a href="/Imprint">Impressum</a> | <a href="/Privacy">Datenschutz</a> | v<span>@appSettings.Value.Version</span>
        </p>
    </div>
</footer>