@page "/MyBazaars/{sellerId:guid}/Articles/{id:guid}/Edit"
@model GtKram.WebApp.Pages.MyBazaars.EditArticleModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    Guid.TryParse(Request.RouteValues["sellerId"] as string, out var sellerId);
    Guid.TryParse(Request.RouteValues["id"] as string, out var id);
}

@await Html.PartialAsync("_Header")

<section class="small-section">
    <div class="container">

        <div class="is-flex mb-2 is-height-2-5 is-align-items-center">
            @Html.CreateBreadcrumb(new { sellerId, id }, new { sellerId })
        </div>

        <h1 class="title is-4">@Model.Input.State_Event</h1>
        <h2 class="subtitle">Bearbeitung endet am: @Model.Input.State_EditArticleEndDate</h2>

        @if (!ModelState.IsValid)
        {
            <div class="notification is-danger">
                <button class="delete"></button>
                <div asp-validation-summary="All"></div>
            </div>
        }

        <div class="columns mt-4">
            <div class="column is-half">

                <form method="post">
                    <input type="hidden" asp-for="Input.State_Event" />
                    <input type="hidden" asp-for="Input.State_EditArticleEndDate" />
                    <fieldset disabled="@Model.IsDisabled">
                        <div class="field">
                            <label class="label" asp-for="Input.LabelNumber"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.LabelNumber" disabled="disabled" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.Name"></label>
                            <div class="control">
                                <input class="input" type="text" autofocus="" asp-for="Input.Name" />
                            </div>
                            <span asp-validation-for="Input.Name"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.Size"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Size" />
                            </div>
                            <span asp-validation-for="Input.Size"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.Price"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Price" />
                            </div>
                            <span asp-validation-for="Input.Price"></span>
                        </div>

                        <button class="button is-primary" type="submit">Speichern</button>
                    </fieldset>
                </form>

            </div>
        </div>

    </div>
</section>


@await Html.PartialAsync("_Footer")
