@page "{statusCode:int=0}"
@model ErrorModel
@{
    ViewData["Title"] = "Fehler";
    ViewData["HasFooter"] = true;
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        <div class="has-text-centered">
            @if (Model.ErrorCode == 404)
            {
                <i class="fa-solid fa-ghost fa-fade icon-big mb-6"></i>
                <h1 class="title">@Model.ErrorCode</h1>
                <h2 class="subtitle">Oops, die Seite gibbet nich!</h2>
            }
            else if (Model.ErrorCode == 403)
            {
                <i class="fa-solid fa-lock fa-fade icon-big mb-6"></i>
                <h1 class="title">@Model.ErrorCode</h1>
                <h2 class="subtitle">Donnerlüttchen, dat hab ich nicht erwartet.</h2>
                <p>Dir fehlen wohl die richtigen Berechtigungen für die Seite "@Model.ReturnUrl"!</p>
                @if (Model.Required2fa)
                {
                    <p class="mt-1">Für diese Seite wird zusätzlich Zwei-Faktor-Authentifizierung (2FA) benötigt. Diese Einstellung erfolgt unter "Mein Konto".</p>
                }
            }
            else
            {
                <i class="fa-solid fa-bug fa-fade icon-big mb-6"></i>
                <h1 class="title">@Model.ErrorCode</h1>
                <h2 class="subtitle">Allet kapores...</h2>
            }
        </div>
    </div>
</section>

@await Html.PartialAsync("_Footer")
