@page "/MyCheckouts/Bazaar/{eventId:guid}/Articles/{id:guid}/Add"
@model GtKram.Ui.Pages.MyCheckouts.ArticleAddModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    Guid.TryParse(Request.RouteValues["eventId"] as string, out var eventId);
    Guid.TryParse(Request.RouteValues["id"] as string, out var id);
}

@await Html.PartialAsync("_Header")

<section class="small-section">
    <div class="container">

        <div class="is-flex mb-2 is-height-2-5 is-align-items-center">
            @Html.CreateBreadcrumb(new { eventId, id }, new { eventId, id }, new { eventId })
        </div>

        <h1 class="title is-4">@Model.Input.State_Event</h1>

        <div class="columns">
            <div class="column is-half">

                @if (!ModelState.IsValid)
                {
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        <div asp-validation-summary="All"></div>
                    </div>
                }

                <form method="post">
                    <input type="hidden" asp-for="Input.State_Event" />
                    <fieldset disabled="@Model.IsDisabled">
                        <div class="field">
                            <label class="label" asp-for="Input.SellerNumber"></label>
                            <div class="control">
                                <input class="input" type="text" autofocus="" asp-for="Input.SellerNumber" />
                            </div>
                            <span asp-validation-for="Input.SellerNumber"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.LabelNumber"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.LabelNumber" />
                            </div>
                            <span asp-validation-for="Input.LabelNumber"></span>
                        </div>

                        <button class="button is-primary" type="submit">Anlegen</button>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</section>

@await Html.PartialAsync("_Footer")
