@page
@model GtKram.Ui.Pages.MyAccount.ChangePasswordModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
}

@await Html.PartialAsync("_Header")

<section class="small-section">
    <div class="container">

        <div class="is-flex mb-2 is-height-2-5 is-align-items-center">
            @Html.CreateBreadcrumb()
        </div>

        <div class="columns">
            <div class="column is-half">
                @if (!ModelState.IsValid)
                {
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        <div asp-validation-summary="All"></div>
                    </div>
                }

                <form method="post">
                    <div class="field">
                        <label class="label" asp-for="CurrentPassword"></label>
                        <div class="control has-icons-right">
                            <input class="input" type="password" asp-for="CurrentPassword" autofocus="" />
                            <span class="icon is-right is-toggle-password">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                        <span asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="NewPassword"></label>
                        <div class="control has-icons-right">
                            <input class="input" type="password" asp-for="NewPassword" />
                            <span class="icon is-right is-toggle-password">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="ConfirmNewPassword"></label>
                        <div class="control has-icons-right">
                            <input class="input" type="password" asp-for="ConfirmNewPassword" />
                            <span class="icon is-right is-toggle-password">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>

                    <button class="button is-primary" type="submit">Speichern</button>
                </form>

            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_Footer")
