@page "/Bazaars/{eventId:guid}/Seller/Add"
@model GtKram.Ui.Pages.Bazaars.AddSellerModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Model.BuildHeaderMenu();

    Guid.TryParse(Request.RouteValues["eventId"] as string, out var eventId);
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">


        @Html.CreateBreadcrumb(new { eventId }, new { eventId }, new { id = eventId })

        <h2 class="subtitle">@Model.Input.Event</h2>

        <div class="columns">
            <div class="column is-half">
                @if (!ModelState.IsValid)
                {
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        <div asp-validation-summary="All"></div>
                    </div>
                }

                <form method="post">
                    <fieldset disabled="@Model.IsDisabled">
                    <input type="hidden" asp-for="Input.Event" />
                    <div class="field">
                        <label class="label" asp-for="Input.Name"></label>
                        <div class="control">
                            <input class="input" type="text" autofocus="" asp-for="Input.Name" />
                        </div>
                        <span asp-validation-for="Input.Name"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.Email"></label>
                        <div class="control">
                            <input class="input" type="text" asp-for="Input.Email" />
                        </div>
                        <span asp-validation-for="Input.Email"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.Phone"></label>
                        <div class="control">
                            <input class="input" type="text" asp-for="Input.Phone" />
                        </div>
                        <span asp-validation-for="Input.Phone"></span>
                    </div>

                    <button class="button is-primary" type="submit">Anlegen</button>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</section>

@await Html.PartialAsync("_Footer")