@page "/Bazaars/{id:guid}/Edit"
@model GtKram.WebApp.Pages.Bazaars.EditModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    Guid.TryParse(Request.RouteValues["id"] as string, out var id);

    var dateConverter = new GermanDateTimeConverter();
}

@await Html.PartialAsync("_Header")

<section class="small-section">
    <div class="container">

        <div class="is-flex mb-2 is-height-2-5 is-align-items-center">
            @Html.CreateBreadcrumb(new { id })
        </div>

        <div class="columns mt-4">
            <div class="column is-half">
                @if (!ModelState.IsValid)
                {
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        <div asp-validation-summary="All"></div>
                    </div>
                }

                <form method="post">
                    <fieldset disabled="@Model.IsDisabled">
                        <div class="field">
                            <label class="label" asp-for="Input.Name"></label>
                            <div class="control">
                                <input class="input" type="text" autofocus="" asp-for="Input.Name" />
                            </div>
                            <span asp-validation-for="Input.Name"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.Description"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Description" />
                            </div>
                            <span asp-validation-for="Input.Description"></span>
                        </div>
                        <div class="field">
                            <label class="label">Startet/Endet am</label>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <input class="input" type="datetime-local" asp-for="Input.StartDate" />
                            </div>
                            <span asp-validation-for="Input.StartDate"></span>
                            <div class="control">
                                <input class="input" type="datetime-local" asp-for="Input.EndDate" />
                            </div>
                            <span asp-validation-for="Input.EndDate"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.Address"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Address" />
                            </div>
                            <span asp-validation-for="Input.Address"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.MaxSellers"></label>
                            <div class="control">
                                <input class="input" type="number" asp-for="Input.MaxSellers" />
                            </div>
                            <span asp-validation-for="Input.MaxSellers"></span>
                        </div>
                        <div class="field">
                            <label class="label">Registrierung startet/endet am</label>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <input class="input" type="datetime-local" asp-for="Input.RegisterStartDate" />
                            </div>
                            <span asp-validation-for="Input.RegisterStartDate"></span>
                            <div class="control">
                                <input class="input" type="datetime-local" asp-for="Input.RegisterEndDate" />
                            </div>
                            <span asp-validation-for="Input.RegisterEndDate"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.EditArticleEndDate"></label>
                            <div class="control">
                                <input class="input" type="datetime-local" asp-for="Input.EditArticleEndDate" />
                            </div>
                            <span asp-validation-for="Input.EditArticleEndDate"></span>
                        </div>
                        <div class="field">
                            <label class="label">Abholung der Etiketten startet/endet am</label>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <input class="input" type="datetime-local" asp-for="Input.PickUpLabelsStartDate" />
                            </div>
                            <span asp-validation-for="Input.PickUpLabelsStartDate"></span>
                            <div class="control">
                                <input class="input" type="datetime-local" asp-for="Input.PickUpLabelsEndDate" />
                            </div>
                            <span asp-validation-for="Input.PickUpLabelsEndDate"></span>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input id="checkBoxRegLocked" type="checkbox" asp-for="Input.IsRegistrationsLocked" />
                                <label for="checkBoxRegLocked">@Html.DisplayNameFor(m => m.Input.IsRegistrationsLocked)</label>
                            </div>
                        </div>

                        <button class="button is-primary" type="submit">Speichern</button>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</section>

@await Html.PartialAsync("_Footer")
