name: CD

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'

    - name: Restore
      run: dotnet restore

    - name: Create version
      run: | 
        TAG=${{ github.ref_name }}
        echo "TAG=${TAG}" >> $GITHUB_ENV
        echo "SEMVER=${TAG#v}" >> $GITHUB_ENV

    - name: Publish files
      run: |
        dotnet publish ./src/GtKram.WebApp -c Release -o ./dist -r linux-x64 --self-contained true /p:UseAppHost=true /p:Version=${SEMVER}

    - name: Create archive
      run: |
        cd dist ; tar cfJ release-linux-x64.tar.xz *

    - name: Create release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: gh release create ${TAG} ./dist/release-linux-x64.tar.xz --generate-notes --title "${TAG}"
